################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ASP.NETCore_MVC/LanguageFeatures/.vs/LanguageFeatures/v16/Server/sqlite3/storage.ide-wal
/ASP.NETCore_MVC/LanguageFeatures/.vs/LanguageFeatures/v16/Server/sqlite3/storage.ide-shm
/ASP.NETCore_MVC/LanguageFeatures/.vs/LanguageFeatures/v16/Server/sqlite3/storage.ide
/ASP.NETCore_MVC/LanguageFeatures/.vs/LanguageFeatures/v16/Server/sqlite3/db.lock
/ASP.NETCore_MVC/LanguageFeatures/.vs/LanguageFeatures/v16/Server/sqlite3
/ASP.NETCore_MVC/LanguageFeatures/.vs/LanguageFeatures/v16/.suo
/ASP.NETCore_MVC/LanguageFeatures/.vs/LanguageFeatures/v16
ASP.NETCore_MVC/LanguageFeatures/.vs/LanguageFeatures/DesignTimeBuild/.dtbcache
/ASP.NETCore_MVC/.vs/LanguageFeatures/v16/Server/sqlite3
